<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="jm.android.jmxmpp"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".ContactListView" android:label="@string/app_name">
			<intent-filter>
				<action android:name="jm.android.jmxmpp.SHOW_CONTACT_LIST" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
        </activity>
		<activity android:name=".ChatView">
			<intent-filter>
				<action android:name="jm.android.jmxmpp.START_CHAT" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity android:name=".ConnectView">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".PreferencesEditor">
		</activity>
		<service android:enabled="true" android:name=".service.XmppConnectionService">
			<intent-filter>
				<action android:name="jm.android.jmxmpp.service.XmppConnectionService" />
			</intent-filter>
			<intent-filter>
				<action android:name="jm.android.jmxmpp.STOP_CONNECTION_SERVICE"/>
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</service>
    </application>
    <uses-sdk android:minSdkVersion="4" />
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest> 